html {
  height: 100vh;
}

body {
  height: 100%;
}

#chartContainer {
  height: 80%;
  width: 70%;
  margin: auto;
  border: 1px solid black;
}

.chartTitle {
  text-align: center;
  font-size: 2rem;
}

.dataContainer {
  height: 60%;
  width: 80%;
  border: 1px solid black;
  margin-left: 15%;
}
